header {
    background-color: #182E49;
    color: white;
}

body {
    padding-bottom: 20px;
}

.label.label-warning {
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-actualizar {
    margin-top: 20px;
    width: 100%;
}

.form-group .btn-actualizar {
    margin-top: 20px;
    width: 100%;
}   

.log-out {
    display: none;
}

.log-out-show {
    display: block;
}

.log-out .btn.btn-default {
    margin-top: 20px;
    display: block;
}

.log-out .btn.btn-default a:hover {
    text-decoration: none;
}

/* Modal */

.modalWrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.information {
    padding: 10px;
}

/* UI Grid */
.grid {
    width: 100%;
    height: 400px;
}


/* Spinner */

#spinner-container {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
 }

.ajax-loader {
    position: absolute;
    left: 40%;
    top: 27%;
    display: block;     
}